version 6.0.0-beta8
source https://api.nuget.org/v3/index.json
framework: auto-detect

nuget FSharp.Core
nuget Giraffe
nuget FSharp.Data.GraphQL.Server
nuget FSharp.Data.Graphql.Server.Middleware
nuget FSharp.Data
nuget Microsoft.NET.Test.Sdk
nuget xunit
nuget xunit.runner.visualstudio